body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 13px -7px #000000, 0px 1px 4px 0px rgba(0,0,0,0); 
    box-shadow: 0px 4px 13px -7px #000000, 0px 1px 4px 0px rgba(0,0,0,0);
    justify-content: space-between;
    display:flex;
    user-select: none;
}

html{
    font-family: Roboto;
    background-color: #F8F9FA;
}

nav .logo{
    float: left;
    display:block;
    color: #5F6368;
    font-size: 18px;
    font-weight: bold;
    padding: 25px 20px;
    justify-content: flex-end;
    cursor: default;
}

nav .logo img {
    height: 25px;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav a{
    display: inline-block;
    color: #5F6368;
    text-decoration: none;
    padding: 25px 10px;
    font-weight: bold;
}

.nav-right{
    top: 0;
    justify-content: flex-end;
    right: 0;
    float: right;
    cursor:default;
    user-select: none;
}

.nav-right img{
    margin-top: 25px;
    width: 20px;
    margin-left: 10px;
    cursor: pointer;

}

.nav-right li{
    padding-left: 10px;
}

#level div{
    
    margin-left:10px;
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #34A853;
    border-radius: 50%;
}

#level a {
    color: #FFFFFF;
}

.timer {
    float: center;
    display:flex;
    justify-content: center;
    
}

.timer:hover{
    cursor:pointer;
}

.timer a{
    color: #FFFFFF;
    padding-right:20px;
}

.timer div{
    margin: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50px;
    background-color: #34A853;
    border-radius: 30px 30px 30px 30px;
}

.timer img {
    padding-right: 5px;
    padding-left: 20px;
}

#links a:hover{
    color: #202124;
    cursor: pointer;
}

.selected{
    color: #202124;
    position: relative;
}

nav a.selected::after {
    content: "";
    position: absolute;
    bottom: 0px;        /* distância da linha até o link (ajuste aqui) */
    left: 0;
    width: 100%;
    height: 3px;         /* espessura da linha */
    background-color: #4285F4; /* cor da linha */
    border-radius: 2px;
}

.content-area{
    width: 1000px;
    min-height: 200px;
    margin: 130px auto;
    color: #202124;
    font-weight: bold;
}


.top-row {
    display: flex;
    gap: 5px;                /* 5px de espaçamento entre as duas divs */
}

.top-row {
    flex: 1;
}

.top-row div{
    width: 100%;
    min-height: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
}

.bottom-row {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    min-height: 200px;
}

.bottom-row div{
    border-radius: 10px;
    padding: 10px;
}

p{
    margin-top: 0px;
}

.bottom-row p{
    text-align: center;
}

.quote {
    margin: auto;
    height: 50%;
    width: 50%;
    background-color: #F8F9FA;
    text-align: center;
}

.quote a{
    height: 10px;
    width: 10px;
    float: right;
    cursor: pointer;
}

.quote img{
    width: 100%;
    height: 100%;
}

#quoteIcon {
    float: left;
}

#quoteIconR {
    float: right;
    transform: scaleX(-1);
}

.achv{
    height: 50%;
    justify-content: space-between;
    display:flex;
    gap: 10px;
    user-select: none;
}

.achv img{
    padding: 20px;
    height: 20px;
    width: 20px;
    border-radius: 8px;
    background-color: #5F6368;
    opacity: 20%;
}

#nameStats{
    text-align: center;
    margin-bottom: 0px;
}

#levelStats{
    color: #5F6368;
    font-size: 12px;
    text-align: center;
}

#progressBar{
    background-color: #34A853;
    width: 10%;
    margin: 0px;
    padding: 0px;
    min-height: 25px;
    max-height: 25px;
}

#levelBar{
    background-color: #F8F9FA;
    width: auto;
    margin: 0px;
    padding: 0px;
    min-height: 25px;
    max-height: 25px;
}

.achv img.unlock{
    opacity: 100%;
}

#authorStr {
    font-size: 12px;
}


#top-row-bottom{
    justify-content: space-around;
    display:flex;
    width: auto;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}

#top-row-bottom div{
    margin: 0px;
    padding: 0px;
}

#leftDiv{
    flex: 1;
}

#rightDiv{
    flex: 3;
}

#status{
    display:flex;
    min-height: auto; 
}

#status div{
    width: auto;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    min-height: auto;
    text-align: center;
}

#status p{
    margin: 0px;
}

#streakStr{
    text-align: center;
    margin-bottom: 0px;
}

#xpStats{
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #5F6368;
}

.title{
    font-size: 12px;
    color: #5F6368;
}

div.daysList{
    background-color: #F8F9FA;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    padding: 5px !important;
}

div.daysList div{
    border-radius: 5px;
    min-height:fit-content;
    width: calc(10% - 17px);
    background-color: #fff;
}

.dayCheck {
    background-color: #34A853 !important;
}

#task{
    display: flex;
    width: auto;
    min-height: auto;
    padding: 0px;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
}

#task div{
    padding: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    width: 20px;
    min-height: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #F8F9FA;
    cursor: pointer;
}

#task p{
    margin-bottom: 0px;
    font-size: 12px;
    width: auto;
    position: relative;
    transition: color 0.3s ease;
}

#task p::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


.scratch p{
    color: #34A853 !important;
}

div.scratch p::after{
    background: #34A853;
    transform: scaleX(1) !important;
}

div.scratch div{
    background-color: #34A853 !important;
}

#pageTitle{
    text-align: center;
    font-size: 25px;
    color: #5F6368;
}

#removeBtn{
    color: #fff;
    background-color: #EA4335 !important;
    border-radius: 10px !important;
    padding: 5px 10px 5px 10px !important;
    width: auto !important;
    cursor: pointer;
    position: absolute;
    right: 0;
}

#editBtn{
    color: #fff;
    background-color: #34A853 !important;
    border-radius: 100px !important;
    padding: 5px 15px 5px 15px !important;
    width: auto !important;
    cursor: pointer;
    position: absolute;
    left:5%;
}

#editBtn img{
    height: 20px;
    width: auto;
}

#buttonsTask{
    margin-top: 5px;
    cursor:default !important;
    background-color: #fff !important;
    width: 100% !important;
    position: relative;
}

#addBtn{
    color: #fff;
    text-align: center;
    background-color: #4285F4 !important;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px !important;
    padding: 10px !important;
    width: 30% !important;
    cursor: pointer;
}

#cardDiv{
    display:grid;
    grid-template-columns: auto auto auto; /* Creates three equal-width columns */
    grid-template-rows: 3 auto; /* Creates two rows with automatic height */
    gap: 20px;
    height: auto;
    width: auto;
}

#card{
    display: flex;
    width: 255px;
    height: 400px;
    background-color: #FBBC04;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

#card p{
    color: #fff;
    text-align: center;
}

#card div{
    display: none;
    margin-top: auto;
    background-color: #fff;
    min-height: 50px;
    height: 70px;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#correct{
    display: grid !important;
    margin: 10px !important;
    background-color: #34A853 !important;
    width: 10% !important;
    height: 30% !important;
    min-height: 30% !important;
    padding: 10px !important;
    border-radius: 200px;
    cursor: pointer !important;
}

#fail{
    display: grid !important;
    margin: 10px !important;
    background-color: #EA4335 !important;
    width: 10% !important;
    height: 30% !important;
    min-height: 30% !important;
    padding: 10px !important;
    border-radius: 200px;
    cursor: pointer !important;
}

#response{
    display: none;
    margin: auto;
}

.confirm{
    display:flex !important;
}

.correctResponse{
    background-color: #34A853 !important;
}

.failResponse{
    background-color: #EA4335 !important;
}

#note{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    min-height: auto;
    margin: auto;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

#note div{
    height: 20px;
    min-height: 0;
    margin: 0 !important;
}

#noteTitle{
    text-align: center;
    text-decoration: underline;
}

#noteInput{
    all: unset;
    field-sizing: content;
    width: 100%;
    height: 50%;
}